  .aside-left__care-instructions{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 30em;
    border-style: double;
    border-color: rgb(223, 10, 10);
    background-color:red;
    align-items: center;

}
