@import "./care.css";
@import "./mission.css";
@import "./sponsors.css";
@import "./legalaid.css";
@import "./benefits.css";

body{
    background-color:rgb(170, 106, 22);
    display: flex;
    flex-direction: column;
}

.training-and-benefits__text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30em;
}


.layout {
    display: flex;
    justify-content: flex-end;
}